
.custom-navbar {
  background-color: #4e4e4e !important;
  position: relative;
}

.navbar {
  padding: 10px !important;
}

#basic-navbar-nav {
  background-color: white;
  padding-bottom: 10px;
}

.custom-navbar .navbar-collapse {
  width: 21vw;
  max-width: 150px;
  background-color: white;
  position: absolute;
  top: 58px;
  left: 0;
  z-index: 1040;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  height: 16vh;
}

  .custom-navbar .navbar {
    position: relative;
  }

  .custom-navbar .nav-link {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
  }

  .navbar-toggler {    
    border: none !important;  
    box-shadow: none !important;             
  }
