.Extras {
  padding: 100px;
  position: relative;
  z-index: 0;
  color: white;
  overflow: hidden;
}

.Extras::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./assets/Vision.png');
  background-size: cover;
  background-position: center;
  opacity: 30%;
  z-index: -1;
}

.Extras h2 {
  text-align: center;
  font-size: 4rem;
  color: black;
  opacity: 100%;
}

.otherwork {
  background-color: #4e4e4e;
  color: white;
  padding: 70px;
}

.otherimages {
  background-color: #4e4e4e;
  color: white;
  padding: 70px;
}

.otherwork h2,
.otherimages h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4rem;
}

.work1 {
  padding: 100px;
  position: relative;
  z-index: 0;
  color: white;
  overflow: hidden;
  background-color: #4e4e4e;
  display: flex;
  align-items: center;
  gap: 20%;
}

.work1 img {
  width: 642px;
  height: 374px;
  background-image: url("./assets/Ye1.png");
  background-size: cover;
  background-position: 20%;
  border: 7px;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
}

.work1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/Ye1.png");
  background-size: cover;
  background-position: center;
  opacity: 50%;
  z-index: -1;
}

.work1 h2 {
  text-align: center;
  font-size: 4rem;
  color: white;
  opacity: 100%;
}

.image1 {
  padding: 100px;
  position: relative;
  z-index: 0;
  color: white;
  overflow: hidden;
  background-color: #4e4e4e;
  display: flex;
  align-items: center;
  gap: 20%;
}

.image1 img {
  width: 642px;
  height: 374px;
  background-image: url("./assets/Customer Journey Map.png");
  background-size: cover;
  background-position: 20%;
  border: 7px;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
}

.image1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/Customer Journey Map.png");
  background-size: cover;
  background-position: center;
  opacity: 50%;
  z-index: -1;
}

.image1 h2 {
  text-align: center;
  font-size: 4rem;
  color: white;
  opacity: 100%;
}

.image2 {
  padding: 100px;
  position: relative;
  z-index: 0;
  color: white;
  overflow: hidden;
  background-color: #4e4e4e;
  display: flex;
  align-items: center;
  gap: 40%;
}

.image2 img {
  width: 642px;
  height: 374px;
  background-image: url("./assets/Wilson Poster.png");
  background-size: cover;
  background-position: 20%;
  border: 7px;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
}

.image2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/Wilson Poster.png");
  background-size: cover;
  background-position: center;
  opacity: 50%;
  z-index: -1;
}

.image2 h2 {
  text-align: center;
  font-size: 4rem;
  color: white;
  opacity: 100%;
}

@media screen and (max-width: 768px) {

  .work1 img,
  .image1 img,
  .image2 img {
    display: none;
  }
}