.projects {
  padding: 100px;
  position: relative;
  z-index: 0;
  color: white;
  overflow: hidden;
}

.projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("src\assets\TCC\TCC1.png");
  background-size: cover;
  background-position: center;
  opacity: 30%;
  z-index: -1;
}

.projects h2 {
  text-align: center;
  font-size: 4rem;
  color: black;
  opacity: 100%;
}
